@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   <h2 class="alert-light">Task-Module Developer -Sujan Budathoki</h2><br />
   Tejarath Tole,Birgunj-13<br />
    <abbr title="Phone">P:</abbr>
    +9779811858476
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:suzanbudathokie@gmail.com">suzanbudathokie@gmail.com</a><br />
   
</address>